@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: works 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif sans-serif;
}
.container{
    /* height: 1332px; */
    background-color: antiquewhite;
    padding: 50px 240px

}
/* nav{
    display: flex;
    justify-content: space-between;
}
nav > h2{
    font-size: 50px;
}
nav > ul{
    display: flex;
    font-size:20px ;
}
nav > ul > li{
    margin-right: 10px;
 
}


.header-p{
 text-align: center;
    height: 225px;
    width: 100%;
  ; 
    font-size:30px;

    
}
.header-p > p{
    font-size: 18px;
    color: gray;
} */
/* .btn-pri{
    background-color: orange;
    color: aliceblue;
    font-size: 25px;
    padding: 10px;
    border-radius: 5px;
    border: none;
} */
/* .header-img{
    margin-top: 10px; 
    width: 100%;
   
 } */


 /* new starting */


 nav{
display: flex;
justify-content: space-between;
align-items:center;
 }
 nav > ul {
  display: flex;

 }
 nav li {
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500;
    font-family: Work sans, sans-serif;
 }
 li a{
    text-decoration: none;
 }
 .header-title{
    font-size: 2.8rem;
    font-weight: 700px;
 }
 .header-p .header-p-h{
max-width: 800px;
border: 1px solid red;
margin: 0 auto;
text-align: center;

 }
 .header-hh{
    font-size:4rem ;
    font-weight: 700;
 }
 .header-pp{
    font-size: 1rem;
    color: grey;
 }
  .btn-pri{
    background-color: orange;
    color: aliceblue;
    font-size: 25px;
    padding: 10px;
    border-radius: 5px;
    border: none;}